#!/bin/csh -f

#
# Annotation load configuration file for PIRSF
#

setenv ANNOTDATADIR		${RPTDIR}
setenv ANNOTMODE		delete
setenv ANNOTTYPENAME		"PIRSF/Marker"
setenv ANNOTINPUTFILE		${ANNOTDATADIR}/annotfile
setenv ANNOTLOG			${ANNOTINPUTFILE}.log
setenv DELETEREFERENCE		"J:99750"
setenv DELETEUSER		none
setenv ANNOTOBSOLETE		0

