#!/bin/sh

#
# Program: vocload.config
#
# Purpose:
#
#   Vocabulary load configuration file for PIRSF load
#
# Usage:
#
#   Execute this file from a script or command line
#
# History:
#
#	10/06/2006	lec
#	- new Configuration file
#

#RUNTIME_DIR="/data/loads/pirsf/pirsfload/output"
#ARCHIVE_DIR="/data/loads/pirsf/pirsfload/archive"
#REPORTS_DIR="/data/loads/pirsf/pirsfload/reports"
RUNTIME_DIR=${OUTPUTDIR}
ARCHIVE_DIR=${ARCHIVEDIR}
REPORTS_DIR=${RPTDIR}

export RUNTIME_DIR ARCHIVE_DIR REPORTS_DIR

LOAD_PROGRAM="${LOAD_PROGRAM}"
MAINTAINER="mgiadmin"

export LOAD_PROGRAM
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="PIR Superfamily"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0     # name of note types for comments
JNUM="J:99750"		# reference for this vocabulary
IS_SIMPLE=1		# structured vocabulary
IS_PRIVATE=0		# acc IDs are public LOGICALDB_KEY=28	# ACC_LogicalDB._LogicalDB_key
LOGICALDB_KEY=78        # ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1003     # VOC_AnnotType._AnnotType_key

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

DATA_FILE="${REPORTS_DIR}/termfile"
TERM_FILE="${REPORTS_DIR}/termfile"
export DATA_FILE TERM_FILE

DAG_ROOT_ID=""
export DAG_ROOT_ID

